# Django Core
SECRET_KEY=change-me-in-production-use-50-chars-minimum
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development

# PostgreSQL
DATABASE_URL=postgresql://siem_user:siem_password@db:5432/siem_db
DB_HOST=db
DB_PORT=5432
DB_NAME=siem_db
DB_USER=siem_user
DB_PASSWORD=siem_password

# Redis & Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Microsoft Azure App Registration (pour Graph API)
MICROSOFT_CLIENT_ID=your-azure-app-client-id
MICROSOFT_CLIENT_SECRET=your-azure-app-client-secret
MICROSOFT_TENANT_ID=your-azure-tenant-id
MICROSOFT_REDIRECT_URI=http://localhost:8000/api/auth/oauth/microsoft/callback/
MICROSOFT_SCOPES=AuditLog.Read.All SecurityAlert.Read.All offline_access

# Google OAuth2 (pour Admin Reports API)
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/oauth/google/callback/
GOOGLE_SCOPES=https://www.googleapis.com/auth/admin.reports.audit.readonly

# Wazuh
WAZUH_API_URL=https://your-wazuh-server:55000
WAZUH_USERNAME=wazuh-wui
WAZUH_PASSWORD=your-wazuh-password
WAZUH_VERIFY_SSL=False

# Chiffrement Fernet (générer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
ENCRYPTION_KEY=your-fernet-key-here

# Frontend
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# ML
ML_MODELS_DIR=/app/ml_models/
ML_CONTAMINATION_RATE=0.05

# Threat Intelligence CTI
# AbuseIPDB — https://www.abuseipdb.com/api (gratuit 1000 req/jour)
ABUSEIPDB_API_KEY=your-abuseipdb-api-key

# VirusTotal — https://www.virustotal.com/gui/my-apikey (gratuit 500 req/jour)
VIRUSTOTAL_API_KEY=your-virustotal-api-key

# WebSocket / ASGI (Daphne)
# En production, remplacer runserver par : daphne -b 0.0.0.0 -p 8000 config.asgi:application
